<link rel="stylesheet" type="text/css" href="/css/CartDetails.css">
<table class="styled-table" data-cart-id="{{cart._id}}">
<tr>
<th style="text-align: center;">ID del Producto</th>
<th style="text-align: center;">Nombre del Producto</th>
<th style="text-align: center;">Acciones</th>
<th style="text-align: center;">Cantidad</th>
<th style="text-align: center;">Precio Unitario</th>
<th style="text-align: center;">Precio Total del producto</th>
<th style="text-align: center;">Stock</th>
</tr>

{{#each cart.products}}
<tr id="product-row-{{this.IDprod}}" data-product-id="{{this.IDprod}}">
<td style="text-align: center;">{{this.IDprod}}</td>
<td style="text-align: center;">{{this.name}}</td>
<td style="text-align: center;">
    <button class="increment" data-product-id="{{this.IDprod}}">+</button>
    <button class="decrement" data-product-id="{{this.IDprod}}">-</button>
</td>
<td style="text-align: center;" class="quantity" data-product-id="{{this.IDprod}}">{{this.quantity}}</td>
<td style="text-align: center;" class="unit-price" data-product-id="{{this.IDprod}}" data-unit-price="{{this.price}}">{{this.price}}</td>
<td style="text-align: center;" class="total-price" data-product-id="{{this.IDprod}}">{{multiply this.price this.quantity}}</td>
<td style="text-align: center;" class="stock" data-product-id="{{this.IDprod}}">{{this.stock}}</td>
</tr>
{{/each}}

<tr style="background-color: #f2f2f2;"> <!-- Puedes cambiar el color de fondo a lo que prefieras -->
    <td colspan="5" style="text-align: right;"><strong>Precio total del carrito:</strong></td>
    <td colspan="2" id="total-cart-price">{{totalCartPrice}}</td>
</tr>

<!-- Aquí puedes agregar la fila para el precio total -->
</table>

<script src="/js/CartDetails.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

