<div id="cartIds" style="display: none;">{{cartIds}}</div>

<div>
    <h1>Te damos la bienvenida a la lista de carritos {{user.name}}</h1>
    <p>Nombre: {{user.name}}</p>
    <p>Correo: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
    <a href="/api/sessions/logout"><button>Cerrar sesión</button></a>
    <a href="/api/users/premium/{{user._id}}" onclick="event.preventDefault(); changeToPremium('{{user._id}}');"><button>Cambiarse a premium</button></a>
    <a><button onclick="CreateCart()">Crear un carrito</button></a>
    <a><button onclick="DeleteCart()">Eliminar un carrito</button></a>

</div> <br>

{{#each carts}}
    <div>
        <p>ID del Carrito: {{this._id}}</p>
        <a href="/carts/{{this._id}}"><button>Ver detalles del carrito</button></a>
        <button onclick="purchaseCart('{{this._id}}')">Enviar orden de compra</button>
    </div>
{{/each}}

<script src="/socket.io/socket.io.js"></script>  
<script src="/js/CartList.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>